[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/kostaslazaros/FSIHDD/blob/master/cross_val_scores_filter_based.ipynb)

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from numpy import mean
from numpy import std
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate
from sklearn.feature_selection import f_classif
from sklearn.feature_selection import SelectKBest
from sklearn.neighbors import KNeighborsClassifier
import warnings
warnings.filterwarnings('ignore')

In [2]:
import sys
sys.path.append('./')

from helpers import functions as fn

In [3]:
dataset = pd.read_csv('dataset_full.csv')
Y = pd.read_csv('emtab_tags.csv')

In [4]:
dataset

,0,1,2,3,4,5,6,7,8,9,...,18948,18949,18950,18951,18952,18953,18954,18955,18956,18957
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.097849,0.0,0.000000,0.0,0.100168,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.077669,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.014315,0.0,0.0,0.0,0.0,0.02683,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.113356,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
6174,0.0,0.0,0.0,0.0,0.051106,0.0,0.043678,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
6175,0.0,0.0,0.0,0.0,0.000000,0.0,0.102153,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
6176,0.0,0.0,0.0,0.0,0.025218,0.0,0.032329,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
6177,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0

In [5]:
Y

      result
0          0
1          0
2          0
3          0
4          0
...      ...
6173       1
6174       1
6175       1
6176       1
6177       1

[6178 rows x 1 columns]

In [8]:
rfc = RandomForestClassifier(n_estimators=100)
svmc = svm.SVC(kernel='linear', C=1)
lrc = LogisticRegression(random_state=0)
knn = KNeighborsClassifier(n_neighbors=5)

In [9]:
fs = SelectKBest(score_func=f_classif)

X_selected = fs.fit_transform(dataset, Y)

In [10]:
cols = fs.get_support(indices=True)
cols

array([ 3618,  5372, 11658, 13865, 13922, 13924, 15316, 15689, 16341,
       16954], dtype=int64)

In [11]:
dataset_reduced = dataset.iloc[:,cols]
dataset_reduced

,3618,5372,11658,13865,13922,13924,15316,15689,16341,16954
0,0.000000,0.100415,0.000000,0.034699,0.090420,0.066018,0.000000,0.000000,0.000000,0.071113
1,0.054721,0.024308,0.000000,0.264588,0.178754,0.251703,0.000000,0.000000,0.008418,0.731990
2,0.080372,0.029752,0.015467,0.088415,0.082157,0.097762,0.002517,0.000000,0.604051,0.160601
3,0.069933,0.096472,0.000000,0.062210,0.076574,0.077426,0.004565,0.000000,0.119919,0.118086
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.028480,0.000000,0.000000,0.120009,0.000000
...,...,...,...,...,...,...,...,...,...,...
6173,0.000000,0.096278,0.000000,0.019011,0.016513,0.028724,0.066445,0.143619,0.114309,0.000000
6174,0.028581,0.033855,0.008250,0.059957,0.092727,0.031739,0.114420,0.022095,0.039309,0.009324
6175,0.000000,0.000000,0.000000,0.123123,0.193099,0.188437,0.382124,0.000000,0.000000,0.038162
6176,0.018195,0.021926,0.002035,0.073603,0.097779,0.040053,0.124858,0.114478,0.022314,0.008627
6177,0.032391,0.035971,0.018700,0.019888,0.051735,0.014936,0.040833,0.037561,0.079720,0.003963

In [12]:
rfc_scores_filter = cross_validate(rfc, dataset_reduced, Y['result'], scoring=('accuracy', 'f1', 'roc_auc'), cv=10, return_estimator =True)

In [13]:
print("%0.3f accuracy with a standard deviation of %0.3f" % (rfc_scores_filter['test_accuracy'].mean(), rfc_scores_filter['test_accuracy'].std()))
print("%0.3f f1 score with a standard deviation of %0.3f" % (rfc_scores_filter['test_f1'].mean(), rfc_scores_filter['test_f1'].std()))
print("%0.3f roc_auc with a standard deviation of %0.3f" % (rfc_scores_filter['test_roc_auc'].mean(), rfc_scores_filter['test_roc_auc'].std()))

0.808 accuracy with a standard deviation of 0.102
0.865 f1 score with a standard deviation of 0.086
0.881 roc_auc with a standard deviation of 0.104

In [14]:
svm_scores_filtered = cross_validate(svmc, dataset_reduced, Y['result'], scoring=('accuracy', 'f1', 'roc_auc'), cv=10, return_estimator =True)

In [15]:
print("%0.3f accuracy with a standard deviation of %0.3f" % (svm_scores_filtered['test_accuracy'].mean(), svm_scores_filtered['test_accuracy'].std()))
print("%0.3f f1 score with a standard deviation of %0.3f" % (svm_scores_filtered['test_f1'].mean(), svm_scores_filtered['test_f1'].std()))
print("%0.3f roc_auc with a standard deviation of %0.3f" % (svm_scores_filtered['test_roc_auc'].mean(), svm_scores_filtered['test_roc_auc'].std()))

0.793 accuracy with a standard deviation of 0.077
0.864 f1 score with a standard deviation of 0.060
0.812 roc_auc with a standard deviation of 0.107

In [16]:
lrc_scores_reduced = cross_validate(lrc, dataset_reduced, Y['result'], scoring=('accuracy', 'f1', 'roc_auc'), cv=10, return_estimator =True)

In [17]:
print("%0.3f accuracy with a standard deviation of %0.3f" % (lrc_scores_reduced['test_accuracy'].mean(), lrc_scores_reduced['test_accuracy'].std()))
print("%0.3f f1 score with a standard deviation of %0.3f" % (lrc_scores_reduced['test_f1'].mean(), lrc_scores_reduced['test_f1'].std()))
print("%0.3f roc_auc with a standard deviation of %0.3f" % (lrc_scores_reduced['test_roc_auc'].mean(), lrc_scores_reduced['test_roc_auc'].std()))

0.786 accuracy with a standard deviation of 0.074
0.861 f1 score with a standard deviation of 0.057
0.818 roc_auc with a standard deviation of 0.115

In [18]:
knn_scores_reduced = cross_validate(knn, dataset_reduced, Y['result'], scoring=('accuracy', 'f1', 'roc_auc'), cv=10, return_estimator =True)

In [19]:
print("%0.3f accuracy with a standard deviation of %0.3f" % (knn_scores_reduced['test_accuracy'].mean(), knn_scores_reduced['test_accuracy'].std()))
print("%0.3f f1 score with a standard deviation of %0.3f" % (knn_scores_reduced['test_f1'].mean(), knn_scores_reduced['test_f1'].std()))
print("%0.3f roc_auc with a standard deviation of %0.3f" % (knn_scores_reduced['test_roc_auc'].mean(), knn_scores_reduced['test_roc_auc'].std()))

0.787 accuracy with a standard deviation of 0.107
0.850 f1 score with a standard deviation of 0.094
0.831 roc_auc with a standard deviation of 0.101